@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    font-family: 'Tajawal', sans-serif;
    overscroll-behavior: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
